:root{
    --background-color: #0e121c;
    --box-bg:#d3d9e1;
    --text-color: #F8FAFC;
    --button-color: #3B82F6;
    --button-hover-color: #1d4ed8;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}