:root {
  --color-white: #ffffff;
  --color-icon-fill: #2F3AA0;
  --button-bg: #f0f0f0;
  --timer-color: #5462db;
}

.dark{
   --color-white: #050505;
   --color-icon-fill: #2F3AA0;
    --button-bg: #1c1d23;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
